.lanyard-wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transform: scale(1);
  transform-origin: top center;
  padding-top: 0;
}

@media (max-width: 768px) {
  .lanyard-wrapper {
    min-height: 500px;
  }
}
